<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Frontend.Properties.Settings.UITIConnectionString"
            connectionString="Data Source=ASOFIMP;Initial Catalog=UITI;Persist Security Info=True;User ID=SA;Password=1908pass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>